#user-toolbar {
    float: right;
    margin-top: 30px;
    text-alighn: right
}

#big_checkbox{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left:10px;
}
.btn{
    margin-top: 15px;
}