{% extends 'base.html' %}
{% block meta_title %}Products{% endblock meta_title %}
{% block title %}Products{% endblock title %}

{% block content %}
{% if not object_list %}
<div class="alert alert-warning">
    Products are absent. Please, <a href="{% url 'add_product' %}">Add product</a>
</div>
{% else %}
<div class="col-xs-6">
    <a href="{% url 'add_product' %}"> <button type="button" class="btn btn-warning">Add product</button> </a>
    <!--<button type="button" class="btn btn-success">Order</button>-->
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>

        {% csrf_token %}

        {% for product in object_list %}
        <tr>
            <td><a title="" href="{% url 'product_notes_edit' product.id %}"><h3>{{ product.title }}</h3></a></td>
            <td class="available-box">
                <button type="button" id="finish_product_btn" data-product-id="{{ product.id }}" class="btn btn-danger">Finished</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}
