{% extends 'base.html' %}
{% block meta_title %}Products{% endblock meta_title %}
{% block title %}Products{% endblock title %}
{% block extra_js %}
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
    </script>
{% endblock %}

{% block content %}
{% if not object_list %}
<div class="alert alert-warning">
Products are absent. Please, adв<a href="{% url 'add_product' %}">Add product</a>
</div>
{% else %}
<div class="col-xs-6">
    <a href="{% url 'add_product' %}"> <button type="button" class="btn btn-warning">Add product</button> </a>
    <!--<button type="button" class="btn btn-success">Order</button>-->
    <div class="infinite-container">
        {% for product in object_list %}
        <div class="infinite-item">
            <h1>{{ product.title }}</button></h1>
        </div>
        {% endfor %}
    </div>
    <div class="loading" style="display: none;">
        Loading...
    </div>
{% endif %}
    {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
</div>
{% endblock content %}
