{% extends 'base.html' %}
{% block meta_title %}shopping List{% endblock meta_title %}
{% block title %}shopping List{% endblock title %}

{% block content %}
<div class="col-xs-6">
    <button type="button" class="btn btn-warning">Create menu</button>
    <button type="button" class="btn btn-danger">Add dish to actual menu</button>
    <!--<button type="button" class="btn btn-success">Order</button>-->
        {% csrf_token %}

<div class="col-xs-12">
    <div class="infinite-container">
        {% for product in object_list %}
        <div class="infinite-item">
            <h1><input type="checkbox" id=big_checkbox data-product-id="{{ product.id }}" data-url="#"
                value="1" {% if product.available %} checked="checked" {% endif %}/>{{ product.title }}</button>
            </h1>
        </div>
        {% endfor %}
    </div>
    <div class="loading" style="display: none;">
        Loading...
    </div>
    {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
</div>
{% endblock content %}
