{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
<div class="col-xs-6">
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input type="submit" value="{% trans 'Set password' %}" />
  </form>
</div>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}

<!--<div class="col-xs-6">-->
    <!--<form action="#" method="post">-->

    <!--{% csrf_token %}-->
    <!--<input type="hidden" name="next" value="{% url 'home' %}" />-->

    <!--<div class="form-group">-->
        <!--<label for="password"></label>-->
        <!--<input type="password" class="form-control" id="password" value="" placeholder="Password"-->
               <!--name="password1" />-->
        <!--<span class="help-block">{{ form.errors.password1.as_text }}</span>-->
    <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="password-confirm"></label>-->
            <!--<input type="password" class="form-control" id="password-confirm" value="" placeholder="Confirm password"-->
               <!--name="password2" />-->
            <!--<span class="help-block">{{ form.errors.password2.as_text }}</span>-->
        <!--</div>-->

    <!--<button type="submit" class="btn btn-primary">Set password</button>-->
  <!--</form>-->
<!--</div>-->